html {
  height: 100%;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 100%;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}

.mb {
  margin-bottom: 50px;
}

.pb {
  padding-bottom: 50px;
}

.section-title {
  font-family: "Delius", cursive;
  font-family: "Chilanka", cursive;
  font-family: "Gaegu", cursive;
  margin-top: 40px;
  margin-bottom: 20px;
  line-height: 0;
  font-size: 2.1rem;
}

p,
.main-nav,
.location-title {
  font-family: "M PLUS 1p", sans-serif;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 1.1rem;
}

#header {
  width: 100%;
  height: 40px;
  background: #000;
  position: relative;
  z-index: 150;
}

.site-title {
  width: 90%;
  margin: 0 auto;
  text-align: left;
}

.site-logo {
  height: 30px;
  z-index: 150;
}

.site-title-img {
  margin-top: 4px;
  width: 250px;
  height: 42px;
}

.lum-lightbox.lum-open {
  z-index: 100;
}

.lum-lightbox-inner img {
  max-width: 95vw;
  max-height: 70vh;
}

#footer {
  background: #000;
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 100;
}
#footer .footer-text {
  color: #fff;
  margin: 0;
  font-size: 0.6rem;
}

@media (min-width: 600px) {
  #header {
    height: 60px;
  }

  .site-title-img {
    margin-top: 6px;
    width: 350px;
    height: 60px;
  }

  .site-title {
    width: 95%;
  }

  .mb {
    margin-bottom: 80px;
  }

  .section-title {
    font-size: 2.7rem;
    margin-bottom: 30px;
  }

  .lum-lightbox-inner img {
    max-width: 120vw;
    max-height: 80vh;
  }
}
.main-container {
  width: 90%;
}

.contents-width {
  width: 100%;
}

.page-nav {
  display: none;
}

.btn-menu {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 150;
  background: none;
  color: #fff;
  border: none;
}
.btn-menu:hover {
  cursor: pointer;
}

.mobile-main-nav {
  background: rgba(0, 0, 0, 0.7);
  width: 0;
  height: 100vh;
  padding: 0;
  position: absolute;
  top: 40px;
  right: 0;
  opacity: 0;
  transition: 0.5s;
  z-index: 50;
  margin: 0 auto;
}
.mobile-main-nav .nav-title {
  margin: 3rem 0;
  color: #fff;
}
.mobile-main-nav .nav-text {
  margin: 0 auto;
  width: 150px;
  display: block;
  color: #fff;
}
.mobile-main-nav .nav-text::after {
  content: "";
  display: block;
  width: 0;
  padding: 0;
  transition: width 0.3s;
  border-bottom: 1px solid #fff;
}
.mobile-main-nav .nav-text:hover::after {
  width: 70%;
  transition-duration: 0.3s;
}
.mobile-main-nav .mobile-category-menu:hover {
  cursor: pointer;
}
.mobile-main-nav .mobile-category-menu .fa-solid {
  margin-left: 5px;
}
.mobile-main-nav .mobile-category-menu .mobile-category-nav {
  background: rgba(0, 0, 0, 0.8);
  width: 0;
  padding: 0;
  position: absolute;
  transition: 0.5s;
  opacity: 0;
  cursor: auto;
  overflow: hidden;
}
.mobile-main-nav .mobile-category-menu .mobile-category-nav.open-menu {
  width: 150px;
  transition: 0.5s;
  opacity: 1;
}
.mobile-main-nav .mobile-category-menu .mobile-category-nav li {
  margin: 2rem auto;
  width: 80px;
}
.mobile-main-nav .mobile-category-menu .mobile-category-nav .nav-text {
  text-align: left;
}
.mobile-main-nav .mobile-category-menu .mobile-category-nav .nav-text:hover {
  cursor: pointer;
}

.mobile-main-nav.open-menu {
  width: 100%;
  height: 100vh;
  opacity: 1;
  transition: 0.7s;
}

@media (min-width: 600px) {
  .main-container {
    width: 80%;
  }

  .contents-width {
    width: 80%;
  }

  .hamburger-menu {
    display: none;
  }

  .page-nav {
    display: block;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    overflow: hidden;
  }
  .page-nav .main-nav {
    padding: 0;
    width: 95%;
    margin: 2rem auto 0 auto;
    z-index: 50;
  }
  .page-nav .main-nav .nav-title {
    width: 20%;
    margin-bottom: 3rem;
  }
  .page-nav .main-nav .nav-text {
    color: #fff;
    font-size: 1rem;
  }
  .page-nav .main-nav .nav-text::after {
    content: "";
    display: block;
    width: 0;
    transition: width 0.3s;
    border-bottom: 1px solid #fff;
  }
  .page-nav .main-nav .nav-text:hover::after {
    width: 100%;
    transition-duration: 0.3s;
  }

  .page-nav .category-menu {
    position: relative;
    width: 20%;
  }
  .page-nav .category-menu:hover {
    cursor: pointer;
  }
  .page-nav .category-menu .fa-solid {
    margin-left: 5px;
  }
  .page-nav .category-menu:hover .fa-solid {
    display: none;
  }

  .category-nav {
    background: rgba(0, 0, 0, 0.9);
    width: 0;
    padding: 0;
    position: absolute;
    opacity: 0;
    overflow: hidden;
    transition: 0.5s;
  }
  .category-nav.open-menu {
    opacity: 1;
    width: 100%;
  }
  .category-nav li {
    margin: 2rem 0;
  }
  .category-nav .nav-text {
    display: block;
    width: 150px;
  }
}
@media (min-width: 800px) {
  .category-menu .fa-solid {
    margin-left: 7px;
  }
}
@media (min-width: 1000px) {
  .page-nav .main-nav .nav-title {
    width: 15%;
  }
  .page-nav .main-nav .nav-text {
    font-size: 1.1rem;
  }

  .main-container {
    width: 85%;
  }

  .contents-width {
    width: 85%;
  }
}
.full-height {
  height: 89vh;
}

.container {
  width: 100%;
  position: relative;
  background: #f1f1f1;
  padding-top: 40px;
  margin: 0;
}

#header {
  position: fixed;
  width: 100%;
  z-index: 50;
}

.page-nav {
  padding-top: 60px;
  position: fixed;
}

.gallery-mb {
  margin-bottom: 25px;
}

.adjustment-top {
  -o-object-position: top;
     object-position: top;
}

.adjustment-right {
  -o-object-position: right;
     object-position: right;
}

.adjustment-bottom {
  -o-object-position: bottom;
     object-position: bottom;
}

.adjustment-left {
  -o-object-position: left;
     object-position: left;
}

.photo-gallery {
  background: #f1f1f1;
  margin: 0 auto;
}

.gallery-item-wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.location-title {
  font-weight: normal;
  font-size: 1rem;
  margin-bottom: 8px;
}

.gallery-item-wrap::after {
  content: "";
  display: block;
  width: 31%;
}

.gallery-lightbox {
  width: 31%;
  margin-bottom: 2.5%;
}

.gallery-item {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 150px;
  transition-duration: 0.3s;
}
.gallery-item:hover {
  transform: scale(1.05);
  opacity: 0.7;
  transition-duration: 0.3s;
}

.footer {
  position: relative;
}

@media (min-width: 600px) {
  .container {
    display: flex;
    padding-top: 60px;
  }

  .photo-gallery {
    position: relative;
    margin: 0 0 0 auto;
  }

  .contents-width {
    margin-left: auto;
    margin-right: auto;
  }

  .gallery-item {
    height: 200px;
  }
}
@media (min-width: 1000px) {
  .gallery-lightbox {
    width: 23%;
    margin-bottom: 2%;
  }

  .gallery-item-wrap::after {
    width: 23%;
  }

  .gallery-item-wrap::before {
    content: "";
    display: block;
    width: 23%;
    order: 1;
  }
}
/*# sourceMappingURL=gallery.css.map */