$bg-color: #000;
$text-color: #fff;


//------------------------
// common
// -----------------------
html {
  height: 100%;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 100%;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}

.mb {
  margin-bottom: 50px;
}
.pb {
  padding-bottom: 50px;
}

.section-title {
  font-family: 'Delius', cursive;
  font-family: 'Chilanka', cursive;
font-family: 'Gaegu', cursive;
  margin: {
    top: 40px;
    bottom: 20px;
  }
  line-height: 0;
  font-size: 2.1rem;
}

p,
.location-title {
  font-family: 'M PLUS 1p', sans-serif;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 1.1rem;
}
//------------------------
// header
// -----------------------
#header {
  width: 100%;
  height: 40px;
  background: $bg-color;
  position: relative;
  z-index: 150;
}
.site-title {
  width: 90%;
  margin:0 auto;
  text-align: left;
}
.site-title-img {
  width: 200px;
  height: 45px;
}

//------------------------
// light-box
// -----------------------
.lum-lightbox.lum-open {
  z-index: 100;
  
}
.lum-lightbox-inner img {
  max-width: 120vw;
  max-height: 80vh;
}

//------------------------
// footer
// -----------------------
#footer {
  background: $bg-color;
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 100;

  .footer-text {
    color: $text-color;
    margin: 0;
    font-size: .6rem;
  }
}

//------------------------
// min 600px
// -----------------------
@media (min-width: 600px) {
  #header {
    height: 60px;
  }

  .site-title-img {
    width: 300px;
    height: 70px;
  }
  .site-title {
    width: 95%;
  }

  .mb {
    margin-bottom: 100px;
  }

  .section-title {
    font-size: 2.7rem;
    margin-bottom: 30px;
  }
}

