$bg-color: #000;
$text-color: #fff;


//------------------------
// common
// -----------------------
html {
  height: 100%;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 100%;
  margin: 0;
  overflow: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

//------------------------
// header
// -----------------------
#header {
  width: 100%;
  height: 40px;
  background: $bg-color;
}
.site-title-img {
  width: 200px;
  height: 45px;
  margin-left: 10px;
}


//------------------------
// footer
// -----------------------
#footer {
  background: $bg-color;
  width: 100%;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  text-align: center;

  .footer-text {
    color: $text-color;
    margin: 0;
    font-size: .6rem;
  }
}



