body {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.container {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.about-img {
  position: absolute;
  top: 0;
  height: 100%;
  object-fit: cover;
}

// //------------------------
// // about
// // -----------------------
.about {
  position: relative;
  margin: 0 auto;
  height: 100vh;
  z-index: 50;
  &-wrap {
    position: relative;
    margin: {
      left: auto;
      right: auto;
    }
  }
}

#footer {
  position: absolute;
  bottom: 0;
}

// //------------------------
// // min 600
// // -----------------------
@media (min-width: 600px) {
  .container {
    width: 100%;
    height: 90vh;
    position: relative;
    display: flex;
  }

  .about {
    margin: 0 0 0 auto;
  }

  .about-img {
    height: 100vh;
    right: 0;
  }
}