$text-color: #fff;
$bg-color: #000;

//------------------------
// max 450
// -----------------------

//------------------------
// common
// -----------------------
body {
  position: relative;
  overflow: hidden;
}
.contact-mtb {
  margin-bottom: 30px;
}
.mt {
  margin-top: 50px;
}
.br {
  border-radius: 6px;
}
.bg {
  background:$bg-color;
}

.section-title {
  color: $text-color;
}

.form-text {
  font-size: .8rem;
  color: $text-color;
  letter-spacing: .05rem;
}

#footer {
  position: absolute;
  bottom: 0;
}
//------------------------
// container
// -----------------------
.container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.form-img {
  position: absolute;
  top: 0;
  height: 100%;
  object-fit: cover;
}
//------------------------
// form
// -----------------------
.form {
  position: relative;
  margin: 0 auto;
  height: 100%;
  z-index: 50;
  &-wrap {
    position: relative;
    margin: {
      left: auto;
      right: auto;
    }
  }
}

.form-item-label {
  display: flex;
  align-items: center;
}

.form-item-label-required {
  margin-right: 8px;
  font-size: .8rem;
  width: 32px;
}
.form-item-input,
.form-item-textarea {
  background: rgba(0255, 255, 255, .2);
  width: 100%;
  // color: $bg-color;
  color: rgb(215, 215, 215);
}
.form-item-input {
  height: 2rem;
  border: none;
}
.form-item-textarea {
  height: 5rem;
  border: none;
}

//------------------------
// button
// -----------------------

.form-btn {
  margin: {
    right: auto;
    left: auto;
  }
  padding: 12px;
  width: 30%;
  display: block;
  opacity: 1;
  transition-duration: .2s;
  &:hover {
    opacity: .8;
    transition-duration: .2s;
  }
}

//------------------------
// min 600
// -----------------------
@media (min-width: 600px) {
  .container {
    width: 100%;
    height:90vh;
    position: relative;
    display: flex;
  }
  
  .form {
    margin: 0 0 0 auto;
  }
  .form-img {
    height: 100%;
    right: 0;
  }
  .form-item-textarea {
    height: 10rem;
  }
  .form-text {
    font-size: 1rem;
  }
  .form-item-input,
  .form-item-textarea {
    width: 100%;
  }
}

//------------------------
// min 1000
// -----------------------
@media (min-width: 1000px) {
  .form-item {
    width: 500px;
  }
  .form-item-input,
  .form-item-textarea {
    width: 500px;
  }

}