$bg-color: #000;
$text-color: #fff;




//------------------------
// common
// -----------------------
.mb {
  margin-bottom: 50px;
}

.photo-none {
  display: none;
}

//------------------------
// main-visual
// -----------------------
.main-visual {
  position: relative;
}

.peony {
  position: absolute;
  width: 60%;
  max-width: 350px;
  top: 0;
  left: -80px;
  filter: grayscale(0);
  transition-duration: .5s;
  &:hover {
    filter: grayscale(100%);
    transition-duration: .5s;
  }
}
//------------------------
// main-nav
// -----------------------
.main-visual-nav {
  width: 50%;
  height: 300px;
  position: relative;
  margin: 0 0 0 auto;
  padding-bottom: 0;
}

.fumika-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: 70% 50%;
}


.main-nav {
  position: absolute;
  top: 20%;
  left: 10%;
  padding: 0;
  .nav-title {
    width: 100%;
    margin-bottom: 28%;
  }
  .nav-text {
    color: $text-color;
    // color: $bg-color;
    font-size: .8rem;
    &::after {
      content: "";
      display: block;
      width: 0;
      transition: width .3s;
      border-bottom: 1px solid $text-color;
    }
    &:hover::after {
      width: 115%;
      transition-duration: .3s;
    }
    }
  }

//------------------------
// category-nav
// -----------------------
.category-menu {
  position: relative;
  width: 100px;
  top: 0px;
  right: 0px;
  color: $text-color;
  color: $bg-color;
  &:hover {
    cursor: pointer;
  }
  .fa-solid {
    margin-left: 5px;
  }
  &:hover .fa-solid {
    display: none;
  }
}
.category-nav {
  background: rgba(0, 0, 0, .8);
  background: rgba(255, 255, 255, .8);
  width: 0;
  padding: 0;
  position: absolute;
  overflow: hidden;
  transition: .5s;
  opacity: 0;
  &.open-menu {
    width: 150%;
    opacity: 1;
  }
  .nav-text {
    color: $bg-color;
    &::after {
      border-bottom: 1px solid $bg-color;
    }
  }
  li {
    margin: .9rem 0;
  }
  .category-text {
    display: block;
    margin: 0 auto;
    width: 60px;
    font-size: .7rem;
  }
}




//------------------------
// slide-show
// -----------------------
.slide-show {
  width: 100%;
  font-size: 0;
  &-wrap {
    display: flex;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: $bg-color;
  }
}
.slide-img {
  margin: 0;
}

.slide-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slide-item-left {
  width: calc(100% / 10 );
}
.slide-img-left {
  padding: 14px 7px 7px 7px;
  height: 80px;
}
.slide-left {
  animation: slide-left 55s infinite linear both;
}

.slide-item-right {
  width: calc(100% / 12 );
}
.slide-right {
  animation: slide-right 65s infinite linear both;
}
.slide-img-right {
  padding: 7px 7px 14px 7px;
  height: 110px;
}
@keyframes slide-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

  @keyframes slide-right {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  //------------------------
  // recommend
// -----------------------

.recommend {
  width: 95%;
  margin: 0 auto;
  &-box {
    overflow-x: scroll;
    display: flex;
    // overflow: inherit;
  }
  &-wrap {
    margin-right: 15px;
  }
  &-img {
    height: 150px;
    object-fit: cover;
  }
}


//------------------------
// min 450px
// -----------------------
@media (min-width: 450px) {
  //------------------------
  // main-nav
  // -----------------------
  .main-nav {
    right: 20%;
    .nav-title {
      margin-bottom: 50px;
    }
    .nav-text {
      font-size: 1rem;
  }
}

//------------------------
// main-visual-nav
// -----------------------
.main-visual-nav {
  width: 50%;
  height: 450px;
}

//------------------------
// category-nav
// -----------------------
.category-menu {
  width: 100px;
  .fa-solid {
    margin-left: 5px;
  }
}
.category-nav {
  &.open-menu {
    width: 115%; 
  }
  li {
    margin: 1.5rem 0;
  }
  .category-text {
    font-size: .9rem;
    width: 75px;
  }
}

  //------------------------
  // recommend
  // -----------------------
  .recommend {
    &-img {
      box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .2);
      transition-duration: .3s;
      &:hover {
        box-shadow: 4px 4px 8px 5px rgba(0, 0, 0, .2);
        opacity: .7;
        transform: scale(1.05);
        transition-duration: .3s;
      }
    }
  }
}

//------------------------
// min 800px
// -----------------------
@media (min-width: 800px) {
  
  //------------------------
  // common
  // -----------------------
  body {
    margin: 0 auto;
  }
  
  .peony{
    max-width: 500px;
    left: -100px;
  }
  .main-nav {
    top: 25%;
    right: 30%;
    .nav-title {
      margin-bottom: 80px;
    }
    .nav-text {
      font-size: 1.3rem;
      &:hover::after {
        width: 100%;
        transition-duration: .3s;
      }
    }
    .category-text {
      width: 100px;
    }
  }
  .main-visual-nav {
    height: 700px;
  }
  
  //------------------------
  // category-nav
  // -----------------------
  .category-menu {
    .fa-solid {
      margin-left: 7px;
    }
  }
  .category-nav {
    &.open-menu {
      width: 100%;
    }
    li {
      margin: 2.4rem 0;
    }
  }

  //------------------------
  // slide-show
  // -----------------------
  .slide-img-left {
    padding: 18px 9px 9px 9px;
    height: 130px;
  }

  .slide-left {
    animation: slide-left 60s infinite linear both;
  }
  .slide-right {
    animation: slide-right 75s infinite linear both;
  }

  .slide-img-right {
    padding: 9px 9px 18px 9px;
    height: 180px;
  }

  //------------------------
  // recommend
  // -----------------------
  .recommend {
    &-text-img {
      width: 150px;
    }
    &-wrap {
      margin-right: 20px;
    }
    &-img {
      height: 250px;
    }
  }
}

//------------------------
// min 1000
// -----------------------
@media (min-width: 1000px) {
  .fumika-img {
    object-position: right;
  }
  .main-visual-nav {
    height: 750px;
  }

  .category-nav li {
      margin: 2.6rem 0;
    }
  }
