$bg-color: #000;
$text-color: #fff;




//------------------------
// common
// -----------------------
.mb {
  margin-bottom: 50px;
}

.photo-none {
  display: none;
}

//------------------------
// main-visual
// -----------------------
.main-visual {
  position: relative;
}
.peony {
  position: absolute;
  width: 60%;
  max-width: 350px;
  top: 0;
  left: -80px;
  filter: grayscale(100%);
  transition-duration: .5s;
  &:hover {
    filter: grayscale(0);
    transition-duration: .5s;
  }
}
//------------------------
// main-nav
// -----------------------
.main-visual-nav {
  width: 50%;
  max-width: 300px;
  position: relative;
  margin: 0 0 0 auto;
  padding-bottom: 0;
}

.fumika-img {
  width: 100%;
}

.main-nav {
  position: absolute;
  top: 20%;
  left: 10%;
  padding: 0;
  .nav-title {
    width: 100%;
    margin-bottom: 28%;
  }
  .nav-text {
    color: $text-color;
    font-size: .8rem;
    &::after {
      content: "";
      display: block;
      width: 0;
      transition: width .3s;
      border-bottom: 1px solid $text-color;
    }
    &:hover::after {
      width: 120%;
      transition-duration: .3s;
    }
    }
  }

//------------------------
// category-nav
// -----------------------
.category-menu {
  position: relative;
  width: 100px;
  top: 0px;
  right: 0px;
  color: $text-color;
  &:hover {
    cursor: pointer;
  }
  .fa-solid {
    margin-left: 5px;
  }
  &:hover .fa-solid {
    display: none;
  }
}
.category-nav {
  background: rgba(0, 0, 0, .8);
  width: 0;
  padding: 0;
  position: absolute;
  overflow: hidden;
  transition: .5s;
  &.open-menu {
    width: 180%;
  }
  li {
    margin: .75rem 0;
  }
  a {
    display: block;
    margin: 0 auto;
    width: 100px;
    font-size: .6rem;
  }
}




//------------------------
// slide-show
// -----------------------
.slide-show {
  width: 100%;
  height: 150px;
  background: $bg-color;
  &-wrap {
    display: flex;
    overflow: hidden;
    height: 150px;
  }
}

.slide-list {
  display: flex;
  list-style: none;
  align-items: center;
  animation: slide 55s infinite linear .5s both;
  padding: 0;
  margin: 0;
  }
  .slid-item {
    width: calc(100vw / 11 );
  }
  .slide-img {
    height: 130px;
    margin-right: 15px;
  }
  
  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  //------------------------
  // recommend
// -----------------------

.recommend {
  width: 95%;
  margin: 0 auto;
  &-text-img {
    width: 100px;
  }
  &-box {
    overflow-x: scroll;
    display: flex;
  }
  &-wrap {
    margin-right: 15px;
  }
  &-img {
    height: 200px;
    margin-bottom: 50px;
    object-fit: contain;
  }
}

//------------------------
// light-box
// -----------------------
.lum-lightbox.lum-open {
  z-index: 4;
}
.lum-lightbox-inner img {
  max-width: 120vw;
  max-height: 80vh;
}

//------------------------
// min 450px
// -----------------------
@media (min-width: 450px) {
  //------------------------
  // main-nav
  // -----------------------
  .main-nav {
    right: 20%;
    .nav-title {
      margin-bottom: 23%;
    }
    .nav-text {
      font-size: 1rem;
  }
}

//------------------------
// category-nav
// -----------------------
.category-menu {
  width: 100px;
  .fa-solid {
    margin-left: 5px;
  }
}
.category-nav {
  &.open-menu {
    width: 115%;
  }
  li {
    margin: 1.5rem 0;
  }
  a {
    margin: 0 auto;
    font-size: .6rem;
  }
}




  //------------------------
  // slide-show
  // -----------------------
  .slide-show {
    width: 100%;
    height: 200px;
    background: $bg-color;
    &-wrap {
      height: 200px;
    }
  }
  .slide-list {
    animation: slide 80s infinite linear .5s both;
  }
  .slide-img {
    height: 150px;
  }

  //------------------------
  // recommend
  // -----------------------
  .recommend {
    &-img {
      box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .2);
      transition-duration: .3s;
      &:hover {
        box-shadow: 4px 4px 8px 5px rgba(0, 0, 0, .2);
        opacity: .7;
        transform: scale(1.05);
        transition-duration: .3s;
      }
    }
  }
}

//------------------------
// min 800px
// -----------------------
@media (min-width: 800px) {

  //------------------------
  // common
  // -----------------------
  body {
    margin: 0 auto;
  }

  .peony{
    width: 60%;
    max-width: 500px;
    left: -120px;
  }
  .main-visual-nav {
    max-width: 450px;
  }
  .main-nav {
    top: 25%;
    right: 30%;
    .nav-title {
      margin-bottom: 30%;
    }
    .nav-text {
      font-size: 1.2rem;
      &:hover::after {
        width: 120%;
        transition-duration: .3s;
      }
    }
  }

  //------------------------
  // category-nav
  // -----------------------
  .category-menu {
    .fa-solid {
      margin-left: 7px;
    }
  }
  .category-nav {
    &.open-menu {
      width: 132%;
    }
    li {
      margin: 2.2rem 0;
    }
  }


  //------------------------
  // slide-show
  // -----------------------
  .slide-show {
    height: 300px;
    background: $bg-color;
    &-wrap {
      height: 300px;
    }
  }
  .slide-img {
    height: 240px;
  }
  
  //------------------------
  // recommend
  // -----------------------
  .recommend {
    &-text-img {
      width: 150px;
    }
    &-wrap {
      margin-right: 30px;
    }
    &-img {
      height: 350px;
    }
  }
}


//------------------------
// min 1000px
// -----------------------
@media (min-width: 1000px) {
// .recommend {
//   width: 97%;
//   margin: {
//     left: auto;
//     right: auto;
//   }
  // padding: 0;
// }

.category-nav {
  &.open-menu {
    width: 132%;
  }
  li {
    margin: 2.5rem 0;
  }
}


  .nav-text {
    font-size: 1.2rem;
  }
}
